@layer components {
  .btn {
    @apply hover:bg-primary text-primary border-primary cursor-pointer rounded border bg-transparent px-4 py-2 font-semibold hover:border-transparent hover:text-white;
  }

  .btn-gray {
    @apply cursor-pointer rounded border border-[#313131] bg-transparent px-4 py-2 font-semibold text-white hover:border-transparent hover:bg-[#313131];
  }
}
