
.btn {
    @apply bg-transparent hover:bg-primary text-primary font-semibold hover:text-white py-2 px-4 border border-primary hover:border-transparent rounded cursor-pointer
}

.btn-gray {
     @apply bg-transparent hover:bg-[#313131] text-white font-semibold py-2 px-4 border border-[#313131] hover:border-transparent rounded cursor-pointer btn 
}