.problemDescription {
  padding: 1.25em;
}

.problemDescription p {
  line-height: 1.7rem;
}

.problemDescription .example-block {
  border-color: #ffffff24;
  border-left-width: 2px;
  color: #fff9;
  font-size: 14px;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: visible;
  padding-left: 1em;
  white-space: pre-wrap;
}
.problemDescription code {
  background-color: #ffffff12;
  border-color: #f7faff1f;
  color: #eff1f6bf;
  white-space: pre-wrap;
  border-radius: 5px;
  border-width: 1px;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.125em;
}

.problemDescription .constraints {
  font-size: 0.85rem;
  margin-top: 1em;
}

.problemDescription .constraints ul {
  list-style-type: disc;
  padding-left: 1em;
}

.problemDescription .title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.problemDescription div,
.problemDescription li,
.problemDescription p {
  margin-bottom: 1em;
}
