@theme {
  --animate-fade-slide-up: fadeSlideUp 1s ease-in-out forwards;
  @keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
