@import "tailwindcss";
@plugin "daisyui";

@import "./animations.css";

@import "./utilities.css";

@import "./styles/btn.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #60a5fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-slide-up {
  @apply opacity-0 animate-fade-slide-up
}

.home-bg {
  background: #0A0A0A;
  background: linear-gradient(130deg,rgba(10, 10, 10, 1) 40%, rgba(96, 165, 250, 1) 100%);
}