@import "tailwindcss";

.problems-table {
  @apply w-full;
}

.problems-table th,
.problems-table td {
  @apply border-1 border-[rgba(255,255,255,0.2)];
}

.problems-table thead tr {
  @apply bg-[rgba(255,255,255,0.1)];
}

.problems-table th {
  @apply p-2 px-6;
}

.problems-table td {
  @apply p-2 text-center;
}
