---
name: Lint

on:
  workflow_dispatch:
  push:
      branches: [staging-lint]
  pull_request:
      branches: [staging-lint]

permissions: {}

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: staging-lint
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22.14.0

      - name: Install dependencies
        run: npm ci

      - name: Super-linter
        uses: super-linter/super-linter@v8.1.0
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: staging-lint 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}